<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('群体学生画像列表')" />
    <th:block th:include="include :: header('百度ECharts')" />
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/css/animate.min.css" rel="stylesheet"/>
    <link href="/css/style.min.css" rel="stylesheet"/>
    <style>
        h1{
            display:inline;
        }
        .milky{
            font-size: 30px;   /*设置文字大小*/
            color:#3366FF;  /*设置文字颜色*/
            text-shadow: 0 8px 10px #6699FF;  /*设置文字阴影*/
            font-weight: bolder;  /*设置文字宽度*/
            text-align: center;  /*设置文字居中*/
        }
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label  pull-right" style="color: #007bff">全校</span>
                    <h5>学生总数</h5>
                </div>
                <div class="ibox-content">
                    <span  style="color: black;font-size: 15px" >总数：</span><h1 class="milky" id="allnum"></h1><br><span class="label  pull-right" style="color: #20c997">人</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label  pull-right" style="color: #007bff">全校</span>
                    <h5>优秀学生</h5>
                </div>
                <div class="ibox-content">
                    <span  style="color: black;font-size: 15px" >人数：</span><h1 class="milky" id="ex">4</h1><br><span class="label  pull-right" style="color: #20c997">人</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label  pull-right" style="color: #007bff">全校</span>
                    <h5>竞赛获奖</h5>
                </div>
                <div class="ibox-content">
                    <span  style="color: black;font-size: 15px" >人数：</span><h1 class="milky" id="test">275,800</h1><br><span class="label  pull-right" style="color: #20c997">人</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label  pull-right" style="font-size: 15px"><a href="/dia/student/many">更多</a>></span>
                    <h5>奖学金获得</h5>
                </div>
                <div class="ibox-content">
                    <span  style="color: black;font-size: 15px" >人数：</span><h1 class="milky" id="award">23</h1><br><span class="label  pull-right" style="color: #20c997;font-size: 8px" >人</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox-title">
                <h5>奖学金占比分析</h5>
            </div>
            <div class="ibox float-e-margins">
                <div class="echarts" id="num0">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox-title">
                <h5>各专业人数分析</h5>
            </div>
            <div class="ibox float-e-margins">
            <div class="echarts" id="num">
            </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox-title">
                <h5>男女比例分析</h5>
            </div>
            <div class="ibox float-e-margins">
                <div class="echarts" id="num1">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>学生籍贯分析</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div style="height:600px" id="num2"></div>
                    </div>
                </div>
            </div>
    </div>
</div>
<th:block th:include="include :: echarts-js" />
<th:block th:include="include :: footer" />
<script type="text/javascript">

        var chartDom1 = document.getElementById('num');
        var myChart1 = echarts.init(chartDom1);
        var option1;

        option1 = {
            title: {
                text: '',
                subtext: '',
                left: 'center'
            },
            xAxis: {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '人数',
                    data: [120, 200, 150, 80, 70, 110, 130],
                    type: 'bar',
                    barWidth: '40%',
                    itemStyle: {
                            normal: {
                                color:'#4ad2ff',
                                label: {
                                    show: true, //开启显示
                                    position: 'top', //在上方显示
                                    textStyle: { //数值样式
                                        color: 'black',
                                        fontSize: 16
                                    }
                                }
                            }
                    },
                }
            ],
            axisLabel: {
                //x轴文字的配置
                show: true,
                interval: 0,//使x轴文字显示全
                textStyle: {
                    color: "rgba(219, 225, 255, 1)"
                },
                formatter: function(params) {
                    var newParamsName = "";
                    var paramsNameNumber = params.length;
                    var provideNumber = 5; //一行显示几个字
                    var rowNumber = Math.ceil(paramsNameNumber / provideNumber);
                    if (paramsNameNumber > provideNumber) {
                        for (var p = 0; p < rowNumber; p++) {
                            var tempStr = "";
                            var start = p * provideNumber;
                            var end = start + provideNumber;
                            if (p == rowNumber - 1) {
                                tempStr = params.substring(start, paramsNameNumber);
                            } else {
                                tempStr = params.substring(start, end) + "\n";
                            }
                            newParamsName += tempStr;
                        }
                    } else {
                        newParamsName = params;
                    }
                    return newParamsName;
                }
            }
        };
        $(function () {
            $.ajax({
                url:"/dia/student/deptnum",
                success: function (data) {
                    var x=[];
                    var s=[];
                    if(data != null && data != "" && data.length!=0){
                        var obj =JSON.parse(data)
                        x=obj[0];
                        s=obj[1];
                        option1.xAxis.data = x;
                        option1.series[0].data = s;
                    }
                    option1 && myChart1.setOption(option1);
                }
            })
        });

        var chartDom2 = document.getElementById('num0');
        var myChart2 = echarts.init(chartDom2);
        var option2;
        option2 = {
            title: {
                text: '',
                subtext: '',
                left: 'center'
            },
            tooltip: {
                trigger: 'item'
            },
            legend: {
                orient: 'vertical',
                left: 'left'
            },
            series: [
                {
                    name: '',
                    type: 'pie',
                    radius: '50%',
                    data: '',
                    itemStyle:{
                        normal: {

                            color: function(params) {

                                //渐变色列表，自定义自己需要的颜色

                                var colorList = [

                                    {

                                        c1: "red",

                                        c2: "#F04393"

                                    },
                                    {

                                        c1: "#696969",

                                        c2: "black"

                                    }

                                ];

                                return new echarts.graphic.LinearGradient(1, 0, 0, 0, [

                                    {

                                        //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上

                                        offset: 0,

                                        color: colorList[params.dataIndex].c1

                                    },

                                    {

                                        offset: 1,

                                        color: colorList[params.dataIndex].c2

                                    }

                                ]);

                            }

                        }
                    },
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        $(function () {
            $.ajax({
                url:"/dia/student/award",
                success: function (data) {
                    if(data != null && data != "" && data.length!=0){
                        var obj =JSON.parse(data);
                        option2.series[0].data = obj;
                    }
                    option2 && myChart2.setOption(option2);
                }
            })
        });

        var chartDom3 = document.getElementById('num1');
        var myChart3 = echarts.init(chartDom3);
        var option3;

        option3 = {
            title: {
                text: '',
                subtext: '',
                left: 'center'
            },
            tooltip: {
                trigger: 'item'
            },
            legend: {
                orient: 'vertical',
                left: 'left'
            },
            series: [
                {
                    name: '',
                    type:'pie',
                    radius:['25%','50%'],
                    data: [
                        {value: 1048, name: '男'},
                        {value: 735, name: '女'}
                    ],
                    itemStyle:{
                        normal: {

                            color: function(params) {

                                //渐变色列表，自定义自己需要的颜色

                                var colorList = [

                                    {

                                        c1: "#4ad2ff",

                                        c2: "#007bff"

                                    },
                                    {

                                        c1: "red",

                                        c2: "pink"

                                    }

                                ];

                                return new echarts.graphic.LinearGradient(1, 0, 0, 0, [

                                    {

                                        //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上

                                        offset: 0,

                                        color: colorList[params.dataIndex].c1

                                    },

                                    {

                                        offset: 1,

                                        color: colorList[params.dataIndex].c2

                                    }

                                ]);

                            }

                        }
                    },
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };

        $(function () {
            $.ajax({
                url:"/dia/student/sex",
                success: function (data) {
                    if(data != null && data != "" && data.length!=0){
                        var obj =JSON.parse(data);
                        option3.series[0].data = obj;
                    }
                    option3 && myChart3.setOption(option3);
                }
            })
        });


        var mapChart4 = echarts.init(document.getElementById("num2"));
        var mapoption = {
            title : {
                text: '',
                subtext: '',
                x:'left'
            },
            tooltip : {
                trigger: 'item'
            },
            dataRange: {
                min: 0,
                max: 10,
                x: 'left',
                y: 'bottom',
                text:['多','少'],
                color:['lightskyblue','pink'],// 文本，默认为数值文本
                calculable : true
            },
            toolbox: {
                show: true,
                orient : 'vertical',
                x: 'right',
                y: 'center',
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            roamController: {
                show: true,
                x: 'right',
                mapTypeControl: {
                    'china': true
                }
            },
            series : [
                {
                    name: '',
                    type: 'map',
                    mapType: 'china',
                    roam: false,
                    itemStyle:{
                        normal:{label:{show:true}},
                        emphasis:{label:{show:true}}
                    },
                    data:[
                        {name: '北京',value: Math.round(Math.random()*100)},
                        {name: '天津',value: Math.round(Math.random()*100)},
                        {name: '上海',value: Math.round(Math.random()*100)},
                        {name: '重庆',value: Math.round(Math.random()*100)},
                        {name: '河北',value: Math.round(Math.random()*100)},
                        {name: '河南',value: Math.round(Math.random()*100)},
                        {name: '云南',value: Math.round(Math.random()*100)},
                        {name: '辽宁',value: Math.round(Math.random()*100)},
                        {name: '黑龙江',value: Math.round(Math.random()*100)},
                        {name: '湖南',value: Math.round(Math.random()*100)},
                        {name: '安徽',value: Math.round(Math.random()*100)},
                        {name: '山东',value: Math.round(Math.random()*100)},
                        {name: '新疆',value: Math.round(Math.random()*100)},
                        {name: '江苏',value: Math.round(Math.random()*100)},
                        {name: '浙江',value: Math.round(Math.random()*100)},
                        {name: '江西',value: Math.round(Math.random()*100)},
                        {name: '湖北',value: Math.round(Math.random()*100)},
                        {name: '广西',value: Math.round(Math.random()*100)},
                        {name: '甘肃',value: Math.round(Math.random()*100)},
                        {name: '山西',value: Math.round(Math.random()*100)},
                        {name: '内蒙古',value: Math.round(Math.random()*100)},
                        {name: '陕西',value: Math.round(Math.random()*100)},
                        {name: '吉林',value: Math.round(Math.random()*100)},
                        {name: '福建',value: Math.round(Math.random()*100)},
                        {name: '贵州',value: Math.round(Math.random()*100)},
                        {name: '广东',value: Math.round(Math.random()*100)},
                        {name: '青海',value: Math.round(Math.random()*100)},
                        {name: '西藏',value: Math.round(Math.random()*100)},
                        {name: '四川',value: Math.round(Math.random()*100)},
                        {name: '宁夏',value: Math.round(Math.random()*100)},
                        {name: '海南',value: Math.round(Math.random()*100)},
                        {name: '台湾',value: Math.round(Math.random()*100)},
                        {name: '香港',value: Math.round(Math.random()*100)},
                        {name: '澳门',value: Math.round(Math.random()*100)}
                    ]
                }
            ]
        };
        $(function () {
            $.ajax({
                url:"/dia/student/birthplace",
                success: function (data) {
                    if(data != null && data != "" && data.length!=0){
                        var obj =JSON.parse(data);
                        mapoption.series[0].data = obj;
                    }
                    mapoption && mapChart4.setOption(mapoption);
                }
            })
        });

        $(function (){
           $.ajax({
               url:"/dia/student/good",
               success: function (data) {
                   if(data != null && data != "" && data.length!=0){
                       $("#award").html(data);
                   }
               }
           })
        });
        $(function (){
            $.ajax({
                url:"/dia/student/test",
                success: function (data) {
                    if(data != null && data != "" && data.length!=0){
                        $("#test").html(data);
                    }
                }
            })
        });
        $(function (){
            $.ajax({
                url:"/dia/student/excellent",
                success: function (data) {
                    if(data != null && data != "" && data.length!=0){
                        $("#ex").html(data);
                    }
                }
            })
        });
        $(function (){
            $.ajax({
                url:"/dia/student/allNum",
                success: function (data) {
                    if(data != null && data != "" && data.length!=0){
                        $("#allnum").html(data);
                    }
                }
            })
        });

</script>
</body>
</html>