<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学生成绩列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>学生号：</label>
                                <input type="text" name="fStuId"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="tec:sc:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="tec:sc:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="tec:sc:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="tec:sc:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('tec:sc:edit')}]];
        var removeFlag = [[${@permission.hasPermi('tec:sc:remove')}]];
        var fHangingUpDatas = [[${@dict.getType('stu_up')}]];
        var fRebuildDatas = [[${@dict.getType('stu_again')}]];
        var fYearDatas = [[${@dict.getType('stu_year')}]];
        var prefix = ctx + "tec/sc";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "学生成绩",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'fId',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'fStuId',
                    title: '学生工号'
                },
                {
                    field: 'fDailyPerAverage',
                    title: '平均平时分'
                },
                {
                    field: 'fAbsenceTimes',
                    title: '缺勤次数'
                },
                {
                    field: 'fComprehensiveScore',
                    title: '综合分数'
                },
                {
                    field: 'fStuGpa',
                    title: '学分绩点'
                },
                {
                    field: 'fHangingUp',
                    title: '是否挂科 ',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(fHangingUpDatas, value);
                    }
                },
                {
                    field: 'fRebuild',
                    title: '是否重修',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(fRebuildDatas, value);
                    }
                },
                {
                    field: 'fYear',
                    title: '学年',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(fYearDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.fId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.fId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>