<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学生预警列表')" />
</head>
<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight">
    <!-- 一行：分12列 -->
    <div class="row">

        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">学生预警总数量</h5>
                    <h2 id="total" class="text-navy">
                        <i  class="fa fa-play fa-rotate-270"></i>
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">已处理预警数量</h5>
                    <h2 id="dealwarn" class="text-navy">
                        <i  class="fa fa-play fa-rotate-270"></i> 上升
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">未处理预警数量</h5>
                    <h2 id="nodealwarn" class="text-navy">
                        <i class="fa fa-play fa-rotate-270"></i> 上升
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">本月预警数量</h5>
                    <h2 id="curwarn" class="text-navy">
                        <i class="fa fa-play fa-rotate-270"></i> 上升
                    </h2>
                </div>
            </div>
        </div>
        <!--雷达图-->
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="echarts" id="echarts-radar-chart"></div>
                </div>
            </div>
        </div>
        <!--饼状图-->
        <div class="col-sm-6" >
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <div class="echarts" id="echarts-pie-chart"></div>
                </div>
            </div>
        </div>
        <!--柱状图-->
        <div class="col-sm-12" style="margin-bottom: 0px">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <div class="echarts" id="echarts-bar-chart" style="height: 400px"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<th:block th:include="include :: footer" />
<!-- 引入 Echarts 脚本-->
<th:block th:include="include :: echarts-js" />
<script th:inline="javascript">
    $.ajax({
        url:'/dia/stuwarn/warntotal',
        type:'post',
        success:function (data){
            // document.getElementById("total").innerText=data+"个";
            $('#total').text(data+"个");
        }
    })
    $.ajax({
        url:'/dia/stuwarn/dealwarn',
        type:'post',
        success:function (data){
            document.getElementById("dealwarn").innerText=data+"个";
        }
    })
    $.ajax({
        url:'/dia/stuwarn/curwarn',
        type:'post',
        success:function (data){
            document.getElementById("curwarn").innerText=data+"个";
        }
    })


    $.ajax({
        url:'/dia/stuwarn/nodealwarn',
        type:'post',
        success:function (data){
            document.getElementById("nodealwarn").innerText=data+"个";
        }
    })






    $.ajax({
        url:'/dia/stuwarn/getBarData',
        success:function (data){

            // 选择一个DOM组件进行图表的初始化。
            var barChart = echarts.init(document.getElementById("echarts-bar-chart"));
            // 构建图表的配置项
            var baroption = {
                // 图表标题
                title : {
                    text: '学生预警趋势'
                },
                // 提示工具
                tooltip : {
                    // 触发，以某种形式触发提示框
                    trigger: 'axis'
                },
                // 图例
                legend: {
                    data: ['本月预警总数','本月已处理预警数']
                },
                // 控制图表的显示位置
                grid:{
                    x: 30,
                    x2: 40,
                    y2: 24
                },
                calculable : true,
                // X 轴
                xAxis : [
                    {
                        type : 'category', // 轴的类型；category 类目
                        data : data[0]
                    }
                ],
                // Y 轴
                yAxis : [
                    {
                        type : 'value'  // 轴的类型；value 数值
                    }
                ],
                // 系列，类目轴的小分类。小分类是一个数组。数组中的每个 JSON 对象就是对 系列的配置
                series : [
                    {
                        name: '本月学生预警数量',// 系列的名字
                        type: 'bar', // 系列的类型，柱状图/折线图/...
                        data: data[1],
                        markPoint : {
                            data : [
                                {type : 'max', name: '最大值'},
                                {type : 'min', name: '最小值'}
                            ]
                        },
                        markLine : {
                            data : [
                                {type : 'average', name: '平均值'}
                            ]
                        }// 数据
                    },
                    {
                        name:'本月预警已处理数量',
                        type:'bar',
                        data:data[2],
                        markPoint : {
                            data : [
                                {type : 'max', name: '最大值'},
                                {type : 'min', name: '最小值'}
                            ]
                        },
                        markLine : {
                            data : [
                                {type : 'average', name: '平均值'}
                            ]
                        }

                    }
                ]
            };
            barChart.setOption(baroption);
            window.onresize = barChart.resize;

        }
    })


    $.ajax({
        url:'/dia/stuwarn/getPieData',
        success:function (data) {
            var pieChart = echarts.init(document.getElementById("echarts-pie-chart"));
            var pieoption = {
                title : {
                    text: '学生预警数量对比',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left'
                },
                calculable : true,
                series : [
                    {
                        name:'预警类别',
                        type:'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:[]

                    }
                ]
            };
            pieoption.series[0].data=data;
            pieChart.setOption(pieoption);
            $(window).resize(pieChart.resize);
        }
    })


    var radarChart = echarts.init(document.getElementById("echarts-radar-chart"));
    var radaroption = {
        title : {
            text: '高危预警学生',
            subtext: [[${warnStu}]]
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            orient : 'vertical',
            x : 'right',
            y : 'bottom',
            data:['预警数']
        },
        polar : [
            {
                indicator:[[${list02}]]
                // indicator : [
                //     { text: '销售', max: 10},
                //     { text: '管理', max: 10},
                //     { text: '信息技术', max: 10},
                //     { text: '客服', max: 10},
                //
                // ]
            }
        ],
        calculable : true,
        series : [
            {
                name: '数',
                type: 'radar',
                data : [
                    {
                        value : [[${warnArr}]],
                        name : '预算分配'
                    }
                ]
            }
        ]
    };

    radarChart.setOption(radaroption);
    $(window).resize(radarChart.resize);


</script>

</body>
</html>



















