<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学校其他支出情况列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>

                            <li>
                                <label>贷款余额：</label>
                                <select name="fLb" th:with="type=${@dict.getType('fin_flb')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>地方政府债券余额：</label>
                                <input type="text" name="fBolgb"/>
                            </li>
                            <li>
                                <label>捐赠收入财政配比：</label>
                                <input type="text" name="fFrodi"/>
                            </li>
                            <li>
                                <label>扶贫专项：</label>
                                <select name="fPasp" th:with="type=${@dict.getType('fin_fpasp')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>填报人：</label>
                                <input type="text" name="fInformant"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="fin:otherExpend:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="fin:otherExpend:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="fin:otherExpend:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="fin:otherExpend:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('fin:otherExpend:edit')}]];
        var removeFlag = [[${@permission.hasPermi('fin:otherExpend:remove')}]];
        var fLbDatas = [[${@dict.getType('fin_flb')}]];
        var fPaspDatas = [[${@dict.getType('fin_fpasp')}]];
        var prefix = ctx + "fin/otherExpend";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "学校其他支出情况",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'fId',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'fLb',
                    title: '贷款余额',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(fLbDatas, value);
                    }
                },
                {
                    field: 'fBolgb',
                    title: '地方政府债券余额'
                },
                {
                    field: 'fFrodi',
                    title: '捐赠收入财政配比'
                },
                {
                    field: 'fPasp',
                    title: '扶贫专项',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(fPaspDatas, value);
                    }
                },
                {
                    field: 'fInformant',
                    title: '填报人'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.fId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.fId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>