<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学校其他收入情况（财务系统）列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
<!--                            <li>-->
<!--                                <label>主键：</label>-->
<!--                                <input type="text" name="fId"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>信息网络设备采购：</label>-->
<!--                                <input type="text" name="fPoine"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>国际交流合作经费：</label>-->
<!--                                <input type="text" name="fIeacf"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>混合所有制办学经费：</label>-->
<!--                                <input type="text" name="fMoef"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>计提政府债券还本资金：</label>-->
<!--                                <input type="text" name="fWogbrf"/>-->
<!--                            </li>-->
                            <li>
                                <label>填报人：</label>
                                <input type="text" name="fInformant"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="fin:otherIncome:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="fin:otherIncome:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="fin:otherIncome:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="fin:otherIncome:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('fin:otherIncome:edit')}]];
        var removeFlag = [[${@permission.hasPermi('fin:otherIncome:remove')}]];
        var prefix = ctx + "fin/otherIncome";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "学校其他收入情况（财务系统）",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'fId',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'fPoine',
                    title: '信息网络设备采购'
                },
                {
                    field: 'fIeacf',
                    title: '国际交流合作经费'
                },
                {
                    field: 'fMoef',
                    title: '混合所有制办学经费'
                },
                {
                    field: 'fWogbrf',
                    title: '计提政府债券还本资金'
                },
                {
                    field: 'fInformant',
                    title: '填报人'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.fId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.fId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>