<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft863.mapper.TbquaAlgorithmMapper">
    
    <resultMap type="TbquaAlgorithm" id="TbquaAlgorithmResult">
        <result property="fId"    column="f_id"    />
        <result property="fCode"    column="f_code"    />
        <result property="fName"    column="f_name"    />
        <result property="fDetail"    column="f_detail"    />
    </resultMap>

    <sql id="selectTbquaAlgorithmVo">
        select f_id, f_code, f_name, f_detail from tbqua_algorithm
    </sql>

    <select id="selectTbquaAlgorithmList" parameterType="TbquaAlgorithm" resultMap="TbquaAlgorithmResult">
        <include refid="selectTbquaAlgorithmVo"/>
        <where>  
            <if test="fCode != null "> and f_code = #{fCode}</if>
            <if test="fName != null  and fName != ''"> and f_name like concat('%', #{fName}, '%')</if>
        </where>
    </select>
    
    <select id="selectTbquaAlgorithmByFId" parameterType="Long" resultMap="TbquaAlgorithmResult">
        <include refid="selectTbquaAlgorithmVo"/>
        where f_id = #{fId}
    </select>
        
    <insert id="insertTbquaAlgorithm" parameterType="TbquaAlgorithm" useGeneratedKeys="true" keyProperty="fId">
        insert into tbqua_algorithm
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fCode != null">f_code,</if>
            <if test="fName != null and fName != ''">f_name,</if>
            <if test="fDetail != null">f_detail,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fCode != null">#{fCode},</if>
            <if test="fName != null and fName != ''">#{fName},</if>
            <if test="fDetail != null">#{fDetail},</if>
         </trim>
    </insert>

    <update id="updateTbquaAlgorithm" parameterType="TbquaAlgorithm">
        update tbqua_algorithm
        <trim prefix="SET" suffixOverrides=",">
            <if test="fCode != null">f_code = #{fCode},</if>
            <if test="fName != null and fName != ''">f_name = #{fName},</if>
            <if test="fDetail != null">f_detail = #{fDetail},</if>
        </trim>
        where f_id = #{fId}
    </update>

    <delete id="deleteTbquaAlgorithmByFId" parameterType="Long">
        delete from tbqua_algorithm where f_id = #{fId}
    </delete>

    <delete id="deleteTbquaAlgorithmByFIds" parameterType="String">
        delete from tbqua_algorithm where f_id in 
        <foreach item="fId" collection="array" open="(" separator="," close=")">
            #{fId}
        </foreach>
    </delete>

</mapper>